@font-face {
    font-family: "Poppins Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}

header {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 59px;
}

.HeaderMenu ul li {
    display:inline-block;
    width: auto;

}

.HeaderMenuText {
    color: #686565;
    font-family: "Poppins Regular";
    font-size: 30px;
    font-weight: 400;
    margin: 0 40px;
    
}
.main {
    margin: 0 auto;
    width: 1440px;
}

.logo {
    text-align: center;
}